body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin:10px auto;
  width:90%;
}
.customButton{
  background-color:#1976d2;
  color:white;
  border-radius: 10px;
  padding:10px;
  outline: none;
  border:none;
  cursor: pointer;
}
.customButton:hover{
  color:white;
  background-color: #0d70d4;
  outline: none;
  border:none;
}